.center {
    text-align: center;
}
.adjust {
    /*text-align: center;*/
    display: grid;
    align-items: center;
    justify-content: center;
    padding-right: 350px;
}
.headersLeft {
    text-align: center;
    padding-right: 1300px;
}